# Limpeza dos Dados

Etapa de limpeza dos dados originais a fim de manter apenas os registros e atributos necessárias para as etapas de análsie exploratória e aplicação dos modelos.

In [3]:
# Bibliotecas de manipulação de dados
import pandas as pd
import numpy as np

# Bibliotecas para encontrar a latitue e longitude de cidades
from geopy.geocoders import Nominatim
import brazilcep

# Biblioteca para desligar os avisos do Python
import warnings

# Bibliotecas para aplicar o Robust Scaling
from sklearn.preprocessing import RobustScaler
from statsmodels.robust.scale import mad as median_abs_deviation

# Biblioteca para auxiliar na transformação das datas em valores numéricos
from datetime import datetime

# Igonorar os avisos e imprimir todas as colunas
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [4]:
# Imprimir informações sobre os dados originais
df = pd.read_csv(r'..\..\datasets\nfs_original.csv', encoding='latin-1')
pd.set_option('display.max_columns', None)
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089317 entries, 0 to 2089316
Data columns (total 62 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   Numero                                2089317 non-null  int64
 1   Data_de_emissao                       2089317 non-null  object
 2   Situacao                              2089317 non-null  object
 3   Valor_total_da_nota                   2089317 non-null  float64
 4   Nota_referenciada                     160015 non-null   object
 5   Nome_razao_social_emit                2089317 non-null  object
 6   CPF_CNPJ_emit                         2089317 non-null  int64
 7   Endereco_emit                         2089317 non-null  object
 8   Bairro_distrito_emit                  2089314 non-null  object
 9   CEP_emit                              2089317 non-null  float64
 10  Municipio_emit                        2089317 non-null  object
 11  Nome_razao_social_dest                2089317 non-null  object
 12  CPF_CNPJ_dest                         2089317 non-null  int64
 13  Endereco_dest                         2089317 non-null  object
 14  Bairro_distrito_dest                  2089317 non-null  object
 15  CEP_dest                              2066939 non-null  float64
 16  Municipio_dest                        2089317 non-null  object
 17  Base_de_Calculo_do_ICMS               2089317 non-null  float64
 18  Valor_do_ICMS                         2089317 non-null  float64
 19  Base_de_calculo_do_ICMS_substituicao  2089317 non-null  float64
 20  Valor_do_ICMS_substituicao            2089317 non-null  float64
 21  Valor_total_dos_produtos              2089317 non-null  float64
 22  Valor_do_frete                        2089317 non-null  float64
 23  Valor_do_seguro                       2089317 non-null  int64
 24  Valor_desconto                        2089317 non-null  float64
 25  Valor_outras_despesas_acessorias      2089317 non-null  float64
 26  Valor_do_IPI                          2089317 non-null  float64
 27  Valor_total_ICMS_UF_dest              565977 non-null   float64
 28  Valor_total_ICMS_UF_remet             562654 non-null   float64
 29  Valor_BC_ICMS_UF_dest                 91667 non-null    float64
 30  Aliquota_interna_UF_dest              91667 non-null    float64
 31  Aliquota_interestadual_UF_env         91667 non-null    float64
 32  Perc_prov_partilha_UF                 91667 non-null    float64
 33  Perc_ICMS_FCP_UF_dest                 91667 non-null    float64
 34  Valor_ICMS_FCP_UF_dest                91667 non-null    float64
 35  Valor_ICMS_partilha_UF_dest           91667 non-null    float64
 36  Valor_ICMS_partilha_UF_remet          91667 non-null    float64
 37  Nr_item                               2089317 non-null  int64
 38  Cod_prod                              2089317 non-null  object
 39  Descricao_do_Produto_ou_servicos      2077058 non-null  object
 40  NCM_prod                              2067054 non-null  float64
 41  CST_prod                              1089466 non-null  float64
 42  CFOP_prod                             2067054 non-null  float64
 43  Quant_prod                            2067054 non-null  float64
 44  Valor_unit_prod                       2067054 non-null  float64
 45  Valor_total_prod                      2067054 non-null  float64
 46  Valor_desconto_item                   145203 non-null   float64
 47  BC_ICMS_prod                          469806 non-null   float64
 48  Valor_ICMS_prod                       469806 non-null   float64
 49  Aliq_ICMS_prod                        469806 non-null   float64
 50  BC_ICMS_ST_prod                       46212 non-null    float64
 51  Valor_ICMS_ST_prod                    46212 non-null    float64
 52  Aliq_ICMS_ST_prod                     46212 non-null    float64
 53  Valor_IPI_prod                        480869 non-null   float64
 54  Aliq_IPI_prod                         414524 non-null   float64
 55  Valor_PMC_prod                        161565 non-null   float64
 56  Cod_EAN                               555546 non-null   float64
 57  Info_Adicional_Item                   225519 non-null   object
 58  Informacoes_adicionais_do_FISCO       242767 non-null   object
 59  Informacoes_complementares            1742576 non-null  object
 60  Unid_prod                             2067054 non-null  object
 61  Metrica                               2089317 non-null  float64
dtypes: float64(40), int64(5), object(17)
memory usage: 988.3+ MB

## 01 Retirada de atributos irrelevantes

Após a análise de cada coluna, foram identificadas colunas que não seriam adequadas para o problema. 
Os principais motivos foram: (i) grande quantidade de valores nulos e (ii) informações irrelevantes ou confusas

In [5]:
# Retira colunas irrelevantes
df_cleaned = df[['Numero',
                 'Nr_item',
                 'Data_de_emissao',
                 'Valor_total_da_nota',
                 'Nome_razao_social_emit',
                 'CPF_CNPJ_emit',
                 'Bairro_distrito_emit',
                 'Municipio_emit',
                 'CEP_emit',
                 'Descricao_do_Produto_ou_servicos',
                 'NCM_prod',
                 'CFOP_prod',
                 'Quant_prod',
                 'Unid_prod',
                 'Valor_unit_prod',
                 'Valor_total_prod']]
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089317 entries, 0 to 2089316
Data columns (total 16 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Numero                            int64
 1   Nr_item                           int64
 2   Data_de_emissao                   object
 3   Valor_total_da_nota               float64
 4   Nome_razao_social_emit            object
 5   CPF_CNPJ_emit                     int64
 6   Bairro_distrito_emit              object
 7   Municipio_emit                    object
 8   CEP_emit                          float64
 9   Descricao_do_Produto_ou_servicos  object
 10  NCM_prod                          float64
 11  CFOP_prod                         float64
 12  Quant_prod                        float64
 13  Unid_prod                         object
 14  Valor_unit_prod                   float64
 15  Valor_total_prod                  float64
dtypes: float64(7), int64(3), object(6)
memory usage: 255.0+ MB

In [6]:
# Altera os nomes das colunas
new_column_names = {'Numero': 'nf_numero', 
                    'Nr_item': 'nf_item',
                    'Data_de_emissao': 'nf_datahora',
                    'Valor_total_da_nota': 'nf_valor_total',
                    'Nome_razao_social_emit': 'emit_nome',
                    'CPF_CNPJ_emit': 'emit_cnpj',
                    'Bairro_distrito_emit': 'emit_bairro',
                    'Municipio_emit': 'emit_municipio',
                    'CEP_emit': 'emit_cep',
                    'Descricao_do_Produto_ou_servicos': 'prod_desc',
                    'NCM_prod': 'prod_ncm',
                    'CFOP_prod': 'prod_cfop',
                    'Quant_prod': 'prod_quant',
                    'Unid_prod': 'prod_unid',
                    'Valor_unit_prod': 'prod_valor_unit',
                    'Valor_total_prod': 'prod_valor_total'}

df_cleaned.rename(columns=new_column_names, inplace=True)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089317 entries, 0 to 2089316
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       object
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          float64
 9   prod_desc         object
 10  prod_ncm          float64
 11  prod_cfop         float64
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
dtypes: float64(7), int64(3), object(6)
memory usage: 255.0+ MB

## 02 Retirada dos registros contendo valores nulos e duplicados

In [7]:
# Retira registros que contém valores nulos
df_cleaned.dropna(inplace=True)

# Retira registros duplicados
df_cleaned.drop_duplicates()

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2067051 entries, 0 to 2089316
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       object
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          float64
 9   prod_desc         object
 10  prod_ncm          float64
 11  prod_cfop         float64
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
dtypes: float64(7), int64(3), object(6)
memory usage: 268.1+ MB

## 03 Engenharia de atributos

Etapa de transformação dos dados para que sejam úteis para a aplicação dos modelos

In [8]:
# Faz o casting dos valores das colunas para os tipos de dados corretos
df_cleaned['nf_datahora'] = pd.to_datetime(df_cleaned['nf_datahora'])
df_cleaned['emit_nome'] = df_cleaned['emit_nome'].str.lower()
df_cleaned['emit_bairro'] = df_cleaned['emit_bairro'].str.lower()
df_cleaned['emit_municipio'] = df_cleaned['emit_municipio'].str.lower()
df_cleaned['emit_cep'] = df_cleaned['emit_cep'].astype('int')
df_cleaned['prod_desc'] = df_cleaned['prod_desc'].str.lower()
df_cleaned['prod_ncm'] = df_cleaned['prod_ncm'].astype('int')
df_cleaned['prod_cfop'] = df_cleaned['prod_cfop'].astype('int')
df_cleaned['prod_unid'] = df_cleaned['prod_unid'].str.lower()

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2067051 entries, 0 to 2089316
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          int32
 9   prod_desc         object
 10  prod_ncm          int32
 11  prod_cfop         int32
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
dtypes: datetime64[ns](1), float64(4), int32(3), int64(3), object(5)
memory usage: 244.4+ MB

In [9]:
df_cleaned.head(5)

,nf_numero,nf_item,nf_datahora,nf_valor_total,emit_nome,emit_cnpj,emit_bairro,emit_municipio,emit_cep,prod_desc,prod_ncm,prod_cfop,prod_quant,prod_unid,prod_valor_unit,prod_valor_total
0,8326,1,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,grampo plast dello fix bc - 0301.e0020.2 - delo,39261000,5929,1.0,und,9.95,9.95
1,8326,2,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,lapiseira tecnica npy 0.9 - 14088 - molin,96084000,5929,1.0,und,8.30,8.30
2,8326,3,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,lapiseira tec job 0.7 - 14077 - molin,96084000,5929,1.0,und,6.95,6.95
3,8326,4,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,marca texto fluo peps amarelo - 742534 - maped,96082000,5929,1.0,und,3.70,3.70
4,8326,5,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,grampeador 26/6 t320 12cm 20f preto - 665207 ...,84729040,5929,1.0,und,16.50,16.50

In [10]:
# Cria uma nova coluna contendo o tempo, em segundos, de cada valor da coluna de data a partir da Era Unix (1970-01-01)
df_cleaned['nf_timestamp'] = (df_cleaned['nf_datahora'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2067051 entries, 0 to 2089316
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          int32
 9   prod_desc         object
 10  prod_ncm          int32
 11  prod_cfop         int32
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
 16  nf_timestamp      int64
dtypes: datetime64[ns](1), float64(4), int32(3), int64(4), object(5)
memory usage: 260.2+ MB

In [11]:
# Remove os seguintes valoes da coluna emit_municipio
delete_list = ['2513703',
               '2507507',
               '2501807',
               '2508901',
               '2504009',
               'araeccedil',
               'riachao do poeccedil',
               'rua deputado francis',
               '<definir> 9089',
               'praca iniguacu',
               'cg',
               'rua rodrigues de aqu',
               'sao domingos de',
               'sao domingos do',
               'av. senador ruy carn',
               'araeccedil;agi',
               'riachao do poeccedil;o',
               'santa cecilia de umbuzeiro']

for item in delete_list:
    df_cleaned = df_cleaned[df_cleaned['emit_municipio'] != item]
    df_cleaned = df_cleaned[df_cleaned['emit_municipio'] != item]

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066780 entries, 0 to 2089316
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          int32
 9   prod_desc         object
 10  prod_ncm          int32
 11  prod_cfop         int32
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
 16  nf_timestamp      int64
dtypes: datetime64[ns](1), float64(4), int32(3), int64(4), object(5)
memory usage: 260.2+ MB

In [12]:
# Lista de cidades que precisam ser renomeadas pois contém erros de gramática
replacement_list = [
    "sao jos ede piranhas -> sao jose de piranhas",
    "cuiteji -> cuitegi",
    "bayuex -> bayeux",
    "jaboatao dos grarapes -> jaboatao dos guararapes",
    "campo de santan -> campo de santana",
    "sum? -> sume",
    "campina grand -> campina grande",
    "sao vicentedo serido -> sao vicente do serido",
    "sao joao do car -> sao joao do caru",
    "ministro andrea -> ministro andreazza",
    "piloezinho -> piloezinhos",
    "alagoa grabde -> alagoa grande",
    "areia de baraun -> areia de baraunas",
    "juazerinho -> juazeirinho",
    "s jose do sabugy -> sao jose do sabugi",
    "s.j.dos cordeiros -> sao jose dos cordeiros",
    "araaagi -> aracagi",
    "sao joao do tig -> sao joao do tigre",
    "cruz do esp. santo -> cruz do espirito santo",
    "sao domingos de pomb -> sao domingos de pombal",
    "sao jose do bre -> sao jose do brejo do cruz",
    "são mamende -> são mamede",
    "sao seb de lagoa de -> sao sebastiao de lagoa de roca",
    "ara?agi -> aracagi",
    "riachao do baca -> riachao do bacamarte",
    "barra de santan -> barra de santana",
    "06 agua branca -> agua branca",
    "riacao do poco -> riachao do poco",
    "cacimba de arei -> cacimba de areia",
    "catol? do rocha -> catole do rocha",
    "santa cecilia de umbuzeiro -> santa cecilia de umbuzeiro",
    "sao jose de pri -> sao jose de princesa",
    "riacho de santo anto -> riacho de santo antonio",
    "riacho de santo antonio2512788 -> riacho de santo antonio",
    "salg. de sao felix -> salgado de são félix",
    "sao domingos do cari -> sao domingos do cariri",
    "sao jose de esp -> são josé de espinharas",
    "sao jose do bon -> sao jose do bonfim",
    "sao jose do bomfim -> sao jose do bonfim",
    "sao jose dos cordeir -> sao jose dos cordeiros",
    "sao minguel de taipu -> sao miguel de taipu",
    "sao sebastiao de lagoa de -> sao sebastiao de lagoa de roca",
    "riacho dos cavalo -> riacho dos cavalos",
    "joaopessoa -> joao pessoa",
    "joa o pessoa -> joao pessoa",
    "joao pessoa (pb) -> joao pessoa",
    "mae d,agua -> mae d-agua",
    "sao jose de espinhar -> sao jose de espinharas",
    "cruz do espirito san -> cruz do espirito santo",
    "cruz do espirit -> cruz do espirito santo",
    "sao sebastiao do umb -> sao sebastiao do umbuzeiro",
    "salgad -> salgado",
    "sao sebastiao do umbuzeir -> sao sebastiao do umbuzeiro",
    "sao seb. lagoa roca -> sao sebastiao de lagoa de roca",
    "sao sebast lagoa de roca -> sao sebastiao de lagoa de roca",
    "mirante da serr -> mirante da serra",
    "cacimba de dent -> cacimba de dentro",
    "catole do roch -> catole do rocha",
    "nava palmeira -> nova palmeira",
    "olho d,agua -> olho d-agua",
    "olho da agua -> olho d-agua",
    "poco de jose de mour -> poco de jose de moura",
    "caajzeiras -> cajazeiras",
    "serra bramca -> serra branca",
    "taberoa -> taperoa",
    "cabo de sto. agostin -> cabo de santo agostinho",
    "olho daagua -> olho d-agua",
    "pedrabranca -> pedra branca",
    "joao pessoaemp_uf=pb -> joao pessoa",
    "jab. dos guararapes -> jaboatao dos guararapes",
    "baia da trai??o -> baia da traicao",
    "floriana?polis -> florianopolis",
    "jo?o pessoa -> joao pessoa",
    "jaboatao dos guarara -> jaboatao dos guararapes",
    "so carlos -> sao carlos",
    "recefe -> recife",
    "algodao de jand -> algodao de jandaira",
    "mamamguape -> mamanguape",
    "joao pesso -> joao pessoa",
    "mae da agua -> mae d-agua",
]

# Renomeia as cidades necessárias
for replacement_rule in replacement_list:
    old_value, new_value = replacement_rule.split(' -> ')
    df_cleaned['emit_municipio'] = df_cleaned['emit_municipio'].replace(old_value, new_value)
    
for replacement_rule in replacement_list:
    old_value, new_value = replacement_rule.split(' -> ')
    df_cleaned['emit_municipio'] = df_cleaned['emit_municipio'].replace(old_value, new_value)
    
df_cleaned = df_cleaned.drop_duplicates()
df_cleaned = df_cleaned.dropna()
df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2066754 entries, 0 to 2066753
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          int32
 9   prod_desc         object
 10  prod_ncm          int32
 11  prod_cfop         int32
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
 16  nf_timestamp      int64
dtypes: datetime64[ns](1), float64(4), int32(3), int64(4), object(5)
memory usage: 244.4+ MB

In [13]:
# Cria uma lista de municípios únicos da coluna emit_municipio
municipios = df_cleaned[['emit_municipio']].drop_duplicates()
municipios.rename(columns={'emit_municipio': 'municipio'}, inplace=True)
municipios = municipios.dropna()
municipios.reset_index(drop=True, inplace=True)
municipios

          municipio
0        cajazeiras
1             sousa
2    campina grande
3       joao pessoa
4       agua branca
..              ...
654          itaúna
655         caetite
656           feliz
657        paulinia
658       cravinhos

[659 rows x 1 columns]

In [14]:
# Utilizando a biblioteca GeoPy e brazilcep, encontra a latitute e longitude das cidades listadas acima
geolocator = Nominatim(user_agent="tcc")

def get_lat_long(cidade):
    query = f"{cidade}, brasil"
    print(query)
    try:
        location = geolocator.geocode(query, timeout=10)
        if location:
            return location.latitude, location.longitude
    except Exception as e:
        print(f"Timeout exception for {query}. Moving to the next item.")
    return None, None

municipios['lat'], municipios['long'] = zip(*municipios.apply(lambda row: get_lat_long(row['municipio']), axis=1))

cajazeiras, brasil
sousa, brasil
campina grande, brasil
joao pessoa, brasil
agua branca, brasil
aguiar, brasil
alagoa grande, brasil
alagoa nova, brasil
alagoinha, brasil
guarabira, brasil
alcantil, brasil
esperanca, brasil
alhandra, brasil
amparo, brasil
sume, brasil
ouro velho, brasil
aparecida, brasil
aracagi, brasil
sape, brasil
belo horizonte, brasil
joão pessoa, brasil
natal, brasil
arara, brasil
areia, brasil
queimadas, brasil
assuncao, brasil
recife, brasil
rio de janeiro, brasil
capim, brasil
fortaleza, brasil
mari, brasil
rio tinto, brasil
solanea, brasil
bananeiras, brasil
betim, brasil
timbauba, brasil
barra de santa rosa, brasil
bayeux, brasil
cabedelo, brasil
belem, brasil
belem do brejo do cruz, brasil
são bento, brasil
boqueirao, brasil
cabaceiras, brasil
cacimba de dentro, brasil
camalau, brasil
monteiro, brasil
parari, brasil
taperoa, brasil
araruna, brasil
patos, brasil
areial, brasil
barauna, brasil
cuite, brasil
diamante, brasil
bom sucesso, brasil
brejo do cruz, brasil
brejo dos santos, brasil
caapora, brasil
cacimba de areia, brasil
desterro, brasil
caicara, brasil
caldas brandao, brasil
campo de santana, brasil
serra branca, brasil
sao jose de piranhas, brasil
catingueira, brasil
conde, brasil
congo, brasil
coxixola, brasil
cuite de mamanguape, brasil
cipo, brasil
itaporanga, brasil
cacimbas, brasil
dona ines, brasil
santo andre, brasil
gurjao, brasil
ibiara, brasil
igaracy, brasil
santa rita, brasil
itapororoca, brasil
guarulhos, brasil
santa rita do sapucai, brasil
juarez tavora, brasil
juazeirinho, brasil
livramento, brasil
logradouro, brasil
mamanguape, brasil
mataraca, brasil
matinhas, brasil
mato grosso, brasil
catole do rocha, brasil
pombal, brasil
nazarezinho, brasil
nova floresta, brasil
nova palmeira, brasil
prata, brasil
princesa isabel, brasil
riachao, brasil
santana de mangueira, brasil
uirauna, brasil
sao domingos do cariri, brasil
sao joao do cariri, brasil
sao joao do rio do peixe, brasil
itabaiana, brasil
tenorio, brasil
varzea, brasil
santa luzia, brasil
soledade, brasil
vista serrana, brasil
casserengue, brasil
sao paulo, brasil
brasilia, brasil
catolé do rocha, brasil
barueri, brasil
condado, brasil
sao bento do sul, brasil
riacho dos cavalos, brasil
picui, brasil
coremas, brasil
cruz do espirito santo, brasil
cubati, brasil
frei martinho, brasil
cuitegi, brasil
curral de cima, brasil
duas estradas, brasil
florianopolis, brasil
fagundes, brasil
itambe, brasil
gurinhem, brasil
mulungu, brasil
sapé, brasil
jacarau, brasil
lencois paulista, brasil
crato, brasil
caturite, brasil
penapolis, brasil
marizopolis, brasil
riacho de santo antonio, brasil
remigio, brasil
vitoria de santo antao, brasil
quixaba, brasil
boqueirão, brasil
conceicao, brasil
lagoa seca, brasil
inga, brasil
caico, brasil
massaranduba, brasil
pedra lavrada, brasil
pedras de fogo, brasil
pocinhos, brasil
sertania, brasil
santa teresinha, brasil
sao joao do tigre, brasil
sao jose do sabugi, brasil
arcoverde, brasil
sao sebastiao do umbuzeiro, brasil
santo antonio, brasil
teixeira, brasil
orobo, brasil
algodao de jandaira, brasil
santa cruz do capibaribe, brasil
barra de santana, brasil
poco dantas, brasil
sao jose dos ramos, brasil
sertaozinho, brasil
lagoa de dentro, brasil
baia da traicao, brasil
goiana, brasil
imaculada, brasil
jerico, brasil
paulista, brasil
piloes, brasil
serraria, brasil
carpina, brasil
nova cruz, brasil
riachao do poco, brasil
borborema, brasil
tabira, brasil
pirpirituba, brasil
pau dos ferros, brasil
natuba, brasil
juru, brasil
lucena, brasil
montadas, brasil
limoeiro, brasil
campo redondo, brasil
olivedos, brasil
pilar, brasil
caiçara, brasil
poco de jose de moura, brasil
puxinana, brasil
salgadinho, brasil
salgado de sao felix, brasil
surubim, brasil
pianco, brasil
s?o bento, brasil
sao bento, brasil
serra grande, brasil
bonito de santa fe, brasil
serra talhada, brasil
tavares, brasil
boa ventura, brasil
triunfo, brasil
malta, brasil
sao jose do egito, brasil
caxias do sul, brasil
caraubas, brasil
sobrado, brasil
aparecida de goiania, brasil
sossego, brasil
camaragibe, brasil
afogados da ingazeira, brasil
jaboatao dos guararapes, brasil
senador canedo, brasil
itatuba, brasil
parnamirim, brasil
juripiranga, brasil
riachao do bacamarte, brasil
serra redonda, brasil
olho d agua, brasil
sao carlos, brasil
varginha, brasil
matureia, brasil
caruaru, brasil
taboao da serra, brasil
damiao, brasil
joinville, brasil
jundiai, brasil
barbalha, brasil
cabo de santo agostinho, brasil
barao de cotegipe, brasil
curral velho, brasil
boa vista, brasil
equador, brasil
junco do serido, brasil
manaira, brasil
santa cruz da baixa verde, brasil
mogeiro, brasil
belo jardim, brasil
serido, brasil
maceio, brasil
diadema, brasil
goiania, brasil
santa cruz, brasil
juazeiro do norte, brasil
sao jose de caiana, brasil
passa e fica, brasil
tacima, brasil
areia de baraunas, brasil
bom jesus, brasil
santa terezinha, brasil
sao miguel de taipu, brasil
almirante tamandare, brasil
arapongas, brasil
nova olinda, brasil
itaquaquecetuba, brasil
abreu e lima, brasil
olinda, brasil
maracanau, brasil
pitimbu, brasil
curitiba, brasil
colombo, brasil
lagoa, brasil
pedro regis, brasil
marcacao, brasil
lagoa da prata, brasil
sao sebastiao de lagoa de roca, brasil
sao bernardo do campo, brasil
taquaritinga do norte, brasil
sao simao, brasil
paudalho, brasil
bezerros, brasil
itapevi, brasil
aroeiras, brasil
bonito, brasil
manaus, brasil
birigui, brasil
barra de sao miguel, brasil
simoes filho, brasil
gravata, brasil
jaragua do sul, brasil
arapiraca, brasil
mossoro, brasil
sao jose de mipibu, brasil
patu, brasil
bernardino batista, brasil
cotia, brasil
pocos de caldas, brasil
ipaumirim, brasil
cachoeira dos indios, brasil
palmas, brasil
sao fernando, brasil
londrina, brasil
igarassu, brasil
potim, brasil
duque de caxias, brasil
montenegro, brasil
pacatuba, brasil
guarani das missoes, brasil
andradina, brasil
cajazeirinhas, brasil
sao bentinho, brasil
jatauba, brasil
carrapateira, brasil
porto alegre, brasil
porto real, brasil
teresina, brasil
cruz do espírito santo, brasil
emas, brasil
currais novos, brasil
gado bravo, brasil
ingá, brasil
parelhas, brasil
sta rita do sapucai, brasil
mae d'agua, brasil
garanhuns, brasil
macaparana, brasil
nazare da mata, brasil
vicencia, brasil
umbuzeiro, brasil
buenos aires, brasil
machados, brasil
sao jose da lagoa tapada, brasil
carnauba dos dantas, brasil
ipueira, brasil
serra negra do norte, brasil
pedra branca, brasil
piloezinhos, brasil
salgueiro, brasil
flores, brasil
lins, brasil
santa cecilia, brasil
itapira, brasil
umarizal, brasil
santa helena, brasil
santa ines, brasil
mauriti, brasil
cariacica, brasil
santana dos garrotes, brasil
acu, brasil
santarem, brasil
sao francisco, brasil
joca claudino, brasil
sao domingos, brasil
sao jose do bonfim, brasil
sao jose do brejo do cruz, brasil
sao mamede, brasil
varzea grande, brasil
texeira, brasil
souza, brasil
bom jardim, brasil
zabele, brasil
lastro, brasil
itapissuma, brasil
sao domingos de pombal, brasil
jardim do serido, brasil
pesqueira, brasil
ribeirao preto, brasil
sao roque, brasil
salvador, brasil
ararangua, brasil
porto feliz, brasil
uchoa, brasil
juiz de fora, brasil
itajai, brasil
anapolis, brasil
siqueira campos, brasil
jaboatao, brasil
pelotas, brasil
toledo, brasil
serra da raiz, brasil
tres coracoes, brasil
vieiropolis, brasil
vila velha, brasil
barra mansa, brasil
cachoeiro de itapemirim, brasil
sao goncalo do amarante, brasil
serrana, brasil
osasco, brasil
araucaria, brasil
indaiatuba, brasil
sao bernardo d campo, brasil
sorocaba, brasil
valinhos, brasil
alto do rodrigues, brasil
resende, brasil
lagoa santa, brasil
sao jose dos campos, brasil
montes claros, brasil
cuiaba, brasil
cajamar, brasil
paulínia, brasil
ibipora, brasil
sao goncalo, brasil
piracicaba, brasil
escada, brasil
sao jose dos pinhais, brasil
americana, brasil
contagem, brasil
extrema, brasil
itapecerica da serra, brasil
niteroi, brasil
vinhedo, brasil
piancó, brasil
ubatuba, brasil
maua, brasil
campinas, brasil
vespasiano, brasil
jabotao dos guararapes, brasil
itumbiara, brasil
ribeirao pires, brasil
bom jesus da lapa, brasil
sao leopoldo, brasil
pindorama, brasil
ipojuca, brasil
muriae, brasil

itu, brasil
lauro de freitas, brasil
feira de santana, brasil
marechal deodoro, brasil
santa barbara d'oeste, brasil
sao jose dos cordeiros, brasil
sao caetano do sul, brasil
varzea paulista, brasil
apodi, brasil
cascavel, brasil
rio claro, brasil
macau, brasil
louveira, brasil
são paulo, brasil
carapicuiba, brasil
mesquita, brasil
recife (pe), brasil
formiga, brasil
balneario camboriu, brasil
erechim, brasil
brasilia (gama), brasil
dores de campos, brasil
serra, brasil
eusebio, brasil
atibaia, brasil
aquiraz, brasil
sao jose do rio preto, brasil
uberaba, brasil
cambe, brasil
araraquara, brasil
belém do brejo do cruz, brasil
sao jose, brasil
taquarucu do sul, brasil
bauru, brasil
presidente prudente, brasil
brejo santo, brasil
paranaiba, brasil
olho d'agua, brasil
pinhais, brasil
leme, brasil
areia branca, brasil
municipio itupeva, brasil
nova lima, brasil
ilheus, brasil
picos, brasil
hortolandia, brasil
brumado, brasil
barro, brasil
sao luis, brasil
baependi, brasil
jacana, brasil
itapetim, brasil
paramirim, brasil
jucurutu, brasil
goianinha, brasil
monte horebe, brasil
sao vicente ferrer, brasil
olho d-agua, brasil
passagem, brasil
juazeiro o norte, brasil
joao alfredo, brasil
macaiba, brasil
centro, brasil
blumenau, brasil
esteio, brasil
viana, brasil
suzano, brasil
vicosa, brasil
rio largo, brasil
corupa, brasil
ribeirão preto, brasil
aracatuba, brasil
mogi das cruzes, brasil
sao jose da lapa, brasil
novo hamburgo, brasil
são josé, brasil
iguatu, brasil
rio do sul, brasil
campo magro, brasil
embu das artes, brasil
pauliceia, brasil
santana de parnaiba, brasil
uberlandia, brasil
colatina, brasil
canoas, brasil
lavras, brasil
barbacena, brasil
caucaia, brasil
carnaiba, brasil
sao sebastiao do cai, brasil
encanto, brasil
agua preta, brasil
sao miguel, brasil
ico, brasil
agua nova, brasil
concordia, brasil
camalaú, brasil
maringa, brasil
jacaraci, brasil
ipubi, brasil
camutanga, brasil
alianca, brasil
petrolina, brasil
martins, brasil
alexandria, brasil
acari, brasil
sossêgo, brasil
santo antonio do monte, brasil
alfenas, brasil
santa maria, brasil
tupa, brasil
bariri, brasil
sao paulo (sp), brasil
barreiros, brasil
pedro leopoldo, brasil
eldorado do sul, brasil
california, brasil
matao, brasil
ibirite, brasil
guarapuava, brasil
alvorada, brasil
campo bom, brasil
coronel ezequiel, brasil
jaguaribe, brasil
goianesia, brasil
picuí, brasil
tres rios, brasil
iracema, brasil
ferreiros, brasil
tuparetama, brasil
mogi guacu, brasil
cubatao, brasil
cajamar (sp), brasil
são bernardo do campo, brasil
caieiras, brasil
jacarei, brasil
osório, brasil
limeira, brasil
brasília, brasil
catanduva, brasil
guaiba, brasil
mairipora, brasil
goianira, brasil
caraguatatuba, brasil
sarandi, brasil
toritama, brasil
sao pedro, brasil
recife-pe, brasil
monte azul paulista, brasil
camacari, brasil
carai, brasil
belem do brejo do cr, brasil
aracati, brasil
vitoria, brasil
milagres, brasil
jardim de piranhas, brasil
moreno, brasil
são caetano do sul, brasil
lages, brasil
itatiba, brasil
timbo, brasil
s.j. rio preto, brasil
divinopolis, brasil
sumare, brasil
ribeirão das neves, brasil
urussanga, brasil
pedreira, brasil
garibaldi, brasil
araxá, brasil
passos, brasil
marilia, brasil
taquaruçu do sul, brasil
ipatinga, brasil
paraipaba, brasil
guaxupe, brasil
saquarema, brasil
paramoti, brasil
caicara do rio do vento, brasil
vertentes, brasil
bento goncalves, brasil
cedral, brasil
campo grande, brasil
itabuna, brasil
correntina, brasil
quixada, brasil
paragominas, brasil
tenente ananias, brasil
messias targino, brasil
parana, brasil
franca, brasil
biguacu, brasil
garca, brasil
jaboatao guararapes, brasil
ipeuna, brasil
vitoria da conquista, brasil
campos dos goytacazes, brasil
lagoa do itaenga, brasil
custodia, brasil
jericó, brasil
solidao, brasil
araripina, brasil
ceara-mirim, brasil
euclides da cunha, brasil
sao jose do belmonte, brasil
s.s de lagoa de roca, brasil
ouro branco, brasil
elias fausto, brasil
bom jesus dos perdoes, brasil
nova iguacu, brasil
delmiro gouveia, brasil
itajuba, brasil
guamare, brasil
luis gomes, brasil
santo antonio da patrulha, brasil
jardim, brasil
canguaretama, brasil
uruacu, brasil
turvo, brasil
camboriu, brasil
santos, brasil
indaial, brasil
joacaba, brasil
santa cruz do rio pardo, brasil
poa, brasil
ourinhos, brasil
nossa sra do socorro, brasil
pedranopolis, brasil
santa barbara, brasil
brejo alegre, brasil
bebedouro, brasil
cambira, brasil
uba, brasil
sao lourenco, brasil
lajes, brasil
sao jose do campestre, brasil
paco do lumiar, brasil
neves paulista, brasil
itaúna, brasil
caetite, brasil
feliz, brasil
paulinia, brasil
cravinhos, brasil

In [15]:
municipios

          municipio        lat       long
0        cajazeiras  -6.889785 -38.557039
1             sousa  -6.766203 -38.231961
2    campina grande  -7.224674 -35.877129
3       joao pessoa  -7.121598 -34.882028
4       agua branca  -5.891392 -42.636115
..              ...        ...        ...
654          itaúna -20.075556 -44.576389
655         caetite -14.069178 -42.485243
656           feliz -29.452325 -51.306978
657        paulinia -22.763039 -47.153221
658       cravinhos -21.340278 -47.729444

[659 rows x 3 columns]

In [17]:
municipios.to_csv(r'..\..\datasets\municipios.csv', index=False)

In [18]:
# Realiza um join (ou merge) entre os dados originais e os dados da lista contendo a latitude e longitude, 
# dessa forma foram criadas mais duas colunas contendo a latitude e longitude da cidade dos registros
df_cleaned = pd.merge(df_cleaned, municipios, left_on='emit_municipio', right_on='municipio')
df_cleaned.head(5)

,nf_numero,nf_item,nf_datahora,nf_valor_total,emit_nome,emit_cnpj,emit_bairro,emit_municipio,emit_cep,prod_desc,prod_ncm,prod_cfop,prod_quant,prod_unid,prod_valor_unit,prod_valor_total,nf_timestamp,municipio,lat,long
0,8326,1,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,grampo plast dello fix bc - 0301.e0020.2 - delo,39261000,5929,1.0,und,9.95,9.95,1454596238,cajazeiras,-6.889785,-38.557039
1,8326,2,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,lapiseira tecnica npy 0.9 - 14088 - molin,96084000,5929,1.0,und,8.30,8.30,1454596238,cajazeiras,-6.889785,-38.557039
2,8326,3,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,lapiseira tec job 0.7 - 14077 - molin,96084000,5929,1.0,und,6.95,6.95,1454596238,cajazeiras,-6.889785,-38.557039
3,8326,4,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,marca texto fluo peps amarelo - 742534 - maped,96082000,5929,1.0,und,3.70,3.70,1454596238,cajazeiras,-6.889785,-38.557039
4,8326,5,2016-02-04 14:30:38,45.99,leia comercial de livros e magazine ltda,11895653000100,centro,cajazeiras,58900000,grampeador 26/6 t320 12cm 20f preto - 665207 ...,84729040,5929,1.0,und,16.50,16.50,1454596238,cajazeiras,-6.889785,-38.557039

In [19]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066754 entries, 0 to 2066753
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          int32
 9   prod_desc         object
 10  prod_ncm          int32
 11  prod_cfop         int32
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
 16  nf_timestamp      int64
 17  municipio         object
 18  lat               float64
 19  long              float64
dtypes: datetime64[ns](1), float64(6), int32(3), int64(4), object(6)
memory usage: 307.5+ MB

In [20]:
# Renomeia as novas colunas
new_column_names = {'lat': 'emit_lat',
                    'long': 'emit_long'}

df_cleaned.rename(columns=new_column_names, inplace=True)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066754 entries, 0 to 2066753
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          int32
 9   prod_desc         object
 10  prod_ncm          int32
 11  prod_cfop         int32
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
 16  nf_timestamp      int64
 17  municipio         object
 18  emit_lat          float64
 19  emit_long         float64
dtypes: datetime64[ns](1), float64(6), int32(3), int64(4), object(6)
memory usage: 307.5+ MB

In [21]:
# Remove a coluna 'municipio'
df_cleaned.drop(['municipio'], axis=1, inplace=True)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066754 entries, 0 to 2066753
Data columns (total 19 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_valor_total    float64
 4   emit_nome         object
 5   emit_cnpj         int64
 6   emit_bairro       object
 7   emit_municipio    object
 8   emit_cep          int32
 9   prod_desc         object
 10  prod_ncm          int32
 11  prod_cfop         int32
 12  prod_quant        float64
 13  prod_unid         object
 14  prod_valor_unit   float64
 15  prod_valor_total  float64
 16  nf_timestamp      int64
 17  emit_lat          float64
 18  emit_long         float64
dtypes: datetime64[ns](1), float64(6), int32(3), int64(4), object(5)
memory usage: 291.7+ MB

In [22]:
# Ordena as colunas
df_cleaned = df_cleaned[[
    'nf_numero',
    'nf_item',
    'nf_datahora',
    'nf_timestamp',
    'nf_valor_total',
    'emit_nome',
    'emit_cnpj',
    'emit_bairro',
    'emit_municipio',
    'emit_cep',
    'emit_lat',
    'emit_long',
    'prod_desc',
    'prod_ncm',
    'prod_cfop',
    'prod_quant',
    'prod_unid',
    'prod_valor_unit',
    'prod_valor_total',
]]

df_cleaned = df_cleaned.dropna()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2065547 entries, 0 to 2066753
Data columns (total 19 columns):
 #   Column            Dtype
---  ------            -----
 0   nf_numero         int64
 1   nf_item           int64
 2   nf_datahora       datetime64[ns]
 3   nf_timestamp      int64
 4   nf_valor_total    float64
 5   emit_nome         object
 6   emit_cnpj         int64
 7   emit_bairro       object
 8   emit_municipio    object
 9   emit_cep          int32
 10  emit_lat          float64
 11  emit_long         float64
 12  prod_desc         object
 13  prod_ncm          int32
 14  prod_cfop         int32
 15  prod_quant        float64
 16  prod_unid         object
 17  prod_valor_unit   float64
 18  prod_valor_total  float64
dtypes: datetime64[ns](1), float64(6), int32(3), int64(4), object(5)
memory usage: 291.5+ MB

## Registro da base

In [24]:
# Salva a base limpa
df_cleaned.to_csv(r'..\..\datasets\nfs_cleaned.csv', index=False)